.navbar-brand {
	background-color: #4aaaa5;
	color:white;
	width:20%;
	padding:2%;
	background-color: #4aaaa5;
	text-align: center;
	display: inline-block;
	margin-right: 35%;
	margin-left:10%;
	margin-bottom: 0%;

}

.img-thumbnail {
	width: 200px;
	float: left;
}


.aboutme{
		width: 50%;
	background-color: #ffffff;
	margin-left: 10%;
	padding-bottom: 10%;
	padding-right:3%;
	padding-left: 3%;
	float:left;
	color: #777777;
	
}

.contact {
		font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding:1%;
	border-bottom:1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #cccccc;
	border-style: solid;
	padding-left: 3%;
}



.connectwithmeheader {
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom:1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #cccccc;
	border-style: solid;
	padding-bottom:3%;
	align-items: center;
	color: #4aaaa5;
}

.githubpic {
	max-width:40px;
}

.linkedinpic {
	max-width:40px;
	}

.stackpic {
	max-width:40px;
	}

	.connectwithme {
	background-color: white;
	font-weight:bold;
	padding:3%;
	text-align: center;
	float:left;
	display:inline-block;
	/*position: fixed;*/
	margin-left: 5%;

}

.contactbox {
	width: 50%;
	background-color: #ffffff;
	margin-left: 10%;
	padding-bottom: 10%;
	padding-right:3%;
	padding-left: 3%;
	float:left;
	color: #777777;
}

#name {
	width: 80%;
	height: 20px;
}

#email {
	width: 80%;
	height: 25px;
	}


#message {
	width: 80%;
	height: 50px;
}

.portfolio {
	width: 50%;
	background-color: #ffffff;
	margin-left: 10%;
	padding-bottom: 10%;
	padding-right:3%;
	padding-left: 3%;
	float:left;
	color: #777777;
	
}

footer {
	position:fixed;
	padding:1%;
	left:0;
	bottom:0;
	width:100%;
	background-color: #666666;
	text-align: center;
	border-top:5%;
	border-bottom:0px;
	border-right:0px;
	border-left:0px;
	border-style:solid;
	border-color: #4aaaa5;
	color:#777777;
}